{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ book.title }}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/book_details.css' %}" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card">
            <div class="card-header">
              <h2 class="text-center">{{ book.title }}</h2>
            </div>
            <div class="card-body">
              <h4>ID: {{ book.id }}</h4>
              <h4>Description:</h4>
              <p>{{ book.desc }}</p>

              <h4>Authors:</h4>
              <ul>
                {% for author in book.authors.all %}
                <li>{{author.first_name}} {{author.last_name}}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="card-footer text-center">
              <form action="{{book.id}}/add_author_to_book" method="post">
                {% csrf_token %}
                <select name="author_for_book" class="custom-select mb-3">
                  <option value="" selected>Add Author To This Book</option>
                  {% for author in authors %}
                  <option value="{{author.id}}">
                    {{ author.first_name }} {{ author.last_name }}
                  </option>
                  {% endfor %}
                </select>
                <input type="submit" value="Add Author" class="btn btn-primary" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>